# Copyright (c) 2020-present Sven Greb <development@svengreb.de>
# This source code is licensed under the MIT license found in the LICENSE file.

# Defines repository-wide configurations.
# See https://yarnpkg.com/docs for more details.

# Resolve to latest minor and patch updates.
save-prefix "^"
